@{
    ViewBag.Title = "title";
    Layout = "_ResidentLayout";
}

<h2>Скарги відсутні</h2>
<div>
    <a asp-controller="Complaint" asp-action="CreateComplaint" class="btn btn-secondary">
        Створити скаргу
    </a>
</div>
