@page
@model YourOSBB.Web.Models.Entities.ApplicationUserViewModel

@{
    Layout = "_ResidentLayout";
}

<div>
    <h5>Ви на головній сторінці мешканця ОСББ</h5>
</div>

<div>
    <b>Призвіще:</b> @ViewBag.Surname<br/>
    <b>Ім'я:</b> @ViewBag.Name<br/>
    <b>По батькові:</b> @ViewBag.PatronymicName<br/>
    <b>Електронна пошта:</b> @ViewBag.UserEmail<br/>
</div>