@model List<YourOSBB.Web.Models.Entities.AnnouncementViewModel>

@{
    Layout = "_ResidentLayout";
}
<div>
    <h3>Оголошення від голови ОСББ:</h3>
    @foreach (var obj in Model)
    {
        <div class="card mb-3">
            <div class="card-body mb-3">
                <tr>
                    <td>
                        <h5>@obj.Name</h5>
                    </td>
                    <td>
                        @obj.Text
                    </td>
                    <br/>
                    <td>
                        <b>Дата:</b> @obj.Date
                    </td>
                    <br/>
                </tr>
                <br/>
            </div>
        </div>
    }
</div>