@model List<YourOSBB.Web.Models.Entities.AnnouncementViewModel>

@{
    Layout = "_ResidentLayout";
}
<div>
    <h3>Оголошення від голови ОСББ:</h3>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Name
            </td>
            <br/>
            <td>
                @obj.Text
            </td>
            <br/>
            <td>
                @obj.Date
            </td>
            <br/>
        </tr>
        <br/>
    }
</div>