@{
    Layout = "_OsbbHeadLayout";
}

<div>Оголошення відсутні.</div>
<div>
    <a asp-controller="OsbbHead" asp-action="AnnouncementCreation" class="btn btn-secondary">
        Створити оголошення
    </a>
</div>