@{
    Layout = "_OsbbHeadLayout";
}

<div class="mb-3"><h4>Оголошення відсутні.</h4></div>
<div>
    <a asp-controller="OsbbHead" asp-action="AnnouncementCreation" class="btn btn-secondary mb-3">
        Створити оголошення
    </a>
</div>