@model List<YourOSBB.Web.Models.Entities.AnnouncementViewModel>

@{
    Layout = "_OsbbHeadLayout";
}

<div>
    <a asp-controller="OsbbHead" asp-action="AnnouncementCreation" class="btn btn-secondary">
        Створити оголошення
    </a>
</div>
<div>
    <h3>Оголошення від голови ОСББ:</h3>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Name
            </td>
            <br/>
            <td>
                @obj.Text
            </td>
            <br/>
            <td>
                @obj.Date
            </td>
            <br/>
        </tr>
        <br/>
    }
</div>