@{
    ViewBag.Title = "title";
    Layout = "_OsbbHeadLayout";
}

<h2>Голосування відсутні</h2>
<div>
    <a asp-controller="Voting" asp-action="CreatePoll" class="btn btn-secondary">
        Створити Голосування
    </a>
</div>