@model List<YourOSBB.Web.Models.Entities.TariffViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_OsbbHeadLayout";
}

<div>
    <a asp-controller="Tariff" asp-action="CreateTariff" class="btn btn-secondary">
        Створити витрату
    </a>
</div>
<div>
    <h3>Витрати жителів ОСББ:</h3>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Name
            </td>
            <br/>
            <td>
                @obj.Description
            </td>
            <br/>
            <td>
                @obj.Cost
            </td>
            <br/>
        </tr>
        <br/>
    }
</div>
