@model List<YourOSBB.Web.Models.Entities.TariffViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_ResidentLayout";
}

<div>
    <h3>Витрати на обслуговування ОСББ:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Description</td>
                <td>@obj.Cost грн.</td>
            </tr>
        }
        <tr>
            <td><b>Сума:</b></td>
            <td></td>
            <td>@ViewBag.UserCostSum грн.</td>
        </tr>
        </tbody>
    </table>
</div>