@model YourOSBB.Web.Models.Entities.ProposalViewModel

@{
    ViewBag.Title = "title";
    Layout = "_ResidentLayout";
}

<form method="post" asp-action="CreateProposal" asp-controller="Proposal">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Запропонувати ідею</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Тема</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Text">Текст</label>
            <input asp-for="Text" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Створити</button>
        <a asp-controller="Proposal" asp-action="ShowProposalsToResidents" class="btn btn-secondary">
            До пропозицій
        </a>
    </div>
</form>