@{
    ViewBag.Title = "title";
    Layout = "_ResidentLayout";
}

<h2>Пропозиції відсутні</h2>
<div>
    <a asp-controller="Proposal" asp-action="CreateProposal" class="btn btn-secondary">
        Створити пропозицію
    </a>
</div>
