@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вас вітає веб-додаток YourOsbb</h1>
    <p>Зареєструйтесь чи увійдіть для подальшого використання функціоналу застосунку.</p>
</div>